@keyframes rainbow {
    0% {background-color: red}
    20% {background-color: orange}
    40% {background-color: yellow}
    60% {background-color: green}
    80% {background-color: blue}
    100% {background-color: purple}
    
}


body{
    animation-name: rainbow;
    background-color: red;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}