@keyframes rainbow {
    0% {background-color: red}
    10% {background-color: orange}
    30% {background-color: yellow}
    50% {background-color: green}
    70% {background-color: blue}
    90% {background-color: purple}
    100% {background-color: red}

    
}


body{
    animation-name: rainbow;
    background-color: red;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}